<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CrmOnline"  connectionString="Url=https://rbh3.crm11.dynamics.com;Username=roger@rbh3.onmicrosoft.com;Password=Password123;authtype=Office365" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>