<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CrmOnline" connectionString="Url=https://rbh2.crm11.dynamics.com;Username=roger@rbh2.onmicrosoft.com;Password=Password1;authtype=Office365"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
