<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--copy the connection string from LAB B into this area to replace the exisiting one-->
    <add name="CrmOnline" connectionString="Url=https://rbh3.crm11.dynamics.com;Username=roger@rbh3.onmicrosoft.com;Password=Password123;authtype=Office365"/>
  </connectionStrings>
</configuration>